:root {
    /* font */
    --font-sm: 0.5rem;
    --font-md: 1rem;
    --font-lg: 1.5rem;
    /* spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xlg: 64px;
    --spacing-xxlg: 128px;
    /* color */
    --color-black-5: rgba(0, 0, 0, 0.05);
}

html {
    font-size: 16px;
}

* {
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    font-size: var(--font-md);
}
